# Configurações da Rede Avalanche
RPC_URL_AVALANCHE=https://api.avax.network/ext/bc/C/rpc
RPC_URL_FUJI=https://api.avax-test.network/ext/bc/C/rpc

# Endereço da Wallet (opcional, para operações de leitura)
WALLET_ADDRESS=your_wallet_address_here

# Chaves de API
TRADER_JOE_API_KEY=your_traderjoe_api_key_here

COINGECKO_API_KEY=your_coingecko_api_key_here

# Configurações de Contratos
TRADER_JOE_ROUTER=0x60aE616a2155Ee3d9A68541Ba4544862310933d4
TRADER_JOE_FACTORY=0x9Ad6C38BE94206cA50bb0d90783171662CD1e917


# Configurações de Segurança
JWT_SECRET=your_jwt_secret_here
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Configurações do Servidor
PORT=3001
NODE_ENV=development
