.headerBar {
  background-color: var(--background-secondary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 0;
  width: 100%;
  z-index: 1401;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.buttonContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}
